.room-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.room-section {
  padding-top: 40px;
  float: left;
  width: 130px;
}

.chat-section {
  float: right;
  width: 350px;
}

.room-section-button {
  width: 80px;
  top: 10px;
  text-align: center;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background-color: #808f05;
}

.room-section-button:hover {
  color: #808f05;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: thin;
  border-color: #808f05;
}

.room-section-button-logout {
  width: 80px;
  top: 10px;
  text-align: center;
  float: bottom;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background-color: #d89e00;
  position: relative;
}

.room-section-button-logout:hover {
  color: #d89e00;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: thin;
  border-color: #d89e00;
}

.container {
  max-width: 500px;
  margin: auto;
  float: top;
}

.chat_header {
  color: #808f05;
}

img {
  max-width: 100%;
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.top_spac {
  margin: 20px 0 0;
}

.recent_heading {
  float: left;
  width: 40%;
}

.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
  color: #808f05;
  font-size: 21px;
  margin: auto;
}

input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}

.inbox_chat {
  height: 550px;
  overflow-y: scroll;
}

.active_chat {
  background: #ebebeb;
}

.incoming_msg_img {
  display: inline-block;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 0px;
  vertical-align: top;
  width: 92%;
}

.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 0px 0 5px;
}

.received_withd_msg {
  width: 95%;
}

.messages {
  padding: 10px 10px 0 10px;
}

.sent_msg p {
  background: #808f05;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing_msg {
  overflow: hidden;
}

.sent_msg {
  float: right;
  width: 85%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #808f05 none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 10px;
  top: 11px;
  width: 33px;
}

.msg_send_btn:hover {
  color: #808f05;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: thin;
  border-color: #808f05;
}

.msg_history {
  height: 516px;
  overflow-y: auto;
}
