<div class="container">
  <div class="room-section">
    <mat-list>
      <mat-list-item *ngFor="let room of rooms">
        <button mat-raised-button (click)="joinRoom(room)" class="room-section-button"> {{ room.name }}</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button (click)="logout()" class="room-section-button-logout">Log out</button>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="chat-section">
    <h3 class=" text-center chat_header">User: {{ username }}</h3>
    <h3 class=" text-center chat_header">Room: {{ currentRoomName }}</h3>
    <div class="inbox_msg">
      <div class="messages">
        <div class="msg_history">
          <div *ngFor="let msg of messages">
            <div class="incoming_msg" *ngIf="msg.userId != userId">
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>
                    {{msg.content}}
                  </p>
                  <span class="time_date"> {{msg.date | date:'medium'}} </span>
                </div>
              </div>
            </div>

            <div class="outgoing_msg" *ngIf="msg.userId == userId">
              <div class="sent_msg">
                <p>
                  {{msg.content}}
                </p>
                <span class="time_date">{{ username }} {{msg.date | date:'medium'}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" [value]="txtMessage" (input)="txtMessage=$event.target.value"
              (keydown.enter)="sendMessage()" placeholder="Type a message" />
            <button class="msg_send_btn" type="button" (click)="sendMessage()">></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>