<div class="container">
  <h3 id="title">Wellcome</h3>
  <form id="login-form">
    <mat-form-field class="full-width">
      <input [formControl]="usernameFormControl" matInput placeholder="Username" required />
      <mat-error *ngIf="usernameFormControl.hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="usernameFormControl.hasError('pattern')">
        Username is not valid
      </mat-error>
      <mat-error *ngIf="usernameFormControl.hasError('minlength')">
        Username must be minimum 1 character long
      </mat-error>
      <mat-error *ngIf="usernameFormControl.hasError('maxlength')">
        Username can be maximum 50 characters long
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input [formControl]="passwordFormControl" matInput type="password" placeholder="Password" minlength="5"
        maxlength="30" required />
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('pattern')">
        Password is not valid
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('minlength')">
        Password must be minimum 5 characters long
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('maxlength')">
        Password can be maximum 50 characters long
      </mat-error>
    </mat-form-field>

    <app-button label="Log in" (action)="login()"></app-button>
    <p id="register">
      Dont have an account?
      <app-text-button label="Create an account" (action)="goToRegister()"></app-text-button>
    </p>
  </form>
</div>