.container {
  text-align: center;
}

#title {
  text-align: center;
  color: #808f05;
}

#register {
  padding-top: 60px;
  text-align: center;
  color: #808f05;
}

#login-form {
  margin: 0 auto;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.login-box {
  text-align: center;
}
