.header-notifications {
    font-family: "Roboto";
    z-index: 100;
  }
  
  main {
    font-family: "Montserrat";
    box-sizing: border-box;
    padding: 74px 20px 50px;
    overflow: hidden;
  }
  
  .notifications {
    z-index: 4;
  }
  